.app{
  display:grid;
  grid-template-columns: var(--sidebar-w) 1fr;
  grid-template-rows: var(--header-h) 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  min-height:100vh;
}

app-sidebar, app-header, app-dashboard{
  display: contents;
}

@media (max-width: 860px){
  .app{ grid-template-columns: 72px 1fr; }
}